<footer>
    <div class="container-fluid background-element raleway-font ">
        <div class="d-flex justify-content-around">
            <div class="m-3"><p>ADRESSE</p></div>
            <div class="m-3"><p>ARCADIA</p></div>
            <div class="m-3"><p>TELEPHONE</p></div>
        </div>
    </div>
</footer>